
/* VIEWS
___________________________*/
.views-row {
    border: none;
    background-color: black;
    }
    .views-row.no-img {
        min-height: 220px;
        background-color: #9da4aa;
        }
    .views-row.no-img {
        color: black;
        }

.view-lam-square-updates .views-row {
    position: relative;
    width: 100%;
    float: left;
    border-top: 2px solid #FFF;
    }
    .view-lam-square-updates .views-row img {
        width: 100%;
        height: auto;
        opacity: 1;
        }
    .view-lam-square-updates .views-row a {
        text-decoration: none;
        color: #FFF;
        }
        .view-lam-square-updates .views-row a.no-img {
            /*color: black;*/
            }


/* BUTTON */
.section-btn-postion{
    position: absolute;
    top: 500px;
    color: #FFF;
    background-color: #021e47;
    border: none;

}

/* DATE */
.view-lam-square-updates .views-field-field-article-date {
    position: absolute;
    bottom: 140px;
    left: 22px;
    background: rgba(0,0,0, 0.8);
    padding: 4px 8px;
    border-radius: 5px;
    color: gray;
    }

/* TITLE */
.view-lam-square-updates .views-field-title {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 75px;
    left: 0;
    margin: auto;
    width: 100%;
    text-align: left;
    font-size: 38px;
    padding: 10px 5px 5px 25px;
    font-family: 'Merriweather', serif;
    }

/* TAGLINE */
.view-lam-square-updates .views-field-field-article-tagline,
.view-lam-square-updates .views-field-field-event-tagline {
    position: absolute;
    text-align: left;
    margin: auto;
    left: 0;
    bottom: 0;
    color: #c4c8d1;
    height: 94px;
    font-size: 18px;
    padding: 10px 25px 35px 25px;
    font-weight: 200;
    width: 100%;
    /* Graident */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
    .view-lam-square-updates .views-field-field-article-tagline.no-img ,
    .view-lam-square-updates .views-field-field-event-tagline.no-img {
      background: transparent;
      color: black;
    }


.more_updates {
  width: 100%;
  display: block;
  background: #9da4aa;
  font-family: 'Merriweather', serif;
  text-align: center;
  height: 300px;
  padding: 70px;
  font-size: 34px;
  border-top: 2px solid #fff;
}

.para-update{
  font-size: 18px;
  margin-bottom: 10px;
}

.section-footer{
  margin-top: 0;
}

.copyright{
  font-size: 12px;
  float: right;
}
.social-icons{
  display: block;
  float: left;
}
.social-icons a{
  color: black;
  font-size: 25px;
  padding-left: 13px;
  opacity: 0.8;
}
.social-icons a:hover{
  opacity: 1;
}


/*__________________________*/



/* Updates block below the main cover image  */
.block_view{
  margin-top: 20px;
}

.section-title {
    font-size: 70px;
    font-family: 'Cinzel', serif;
    color: #FFF;
    position: absolute;
    top: 150px;
    }

.section-tagline {
    color: #afccfc;
    font-size: 27px;
    font-weight: 200;
    position: absolute;
    top: 250px;
    max-width: 650px;
    }

.section-image-push {
  margin-top: 700px;
}

.field.field-name-field-section-cover-image.field-type-image img{
    width: 100%;
    height: auto;
    clip: rect(0px,5000px,720px,0px);
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    z-index: -100;
    }

/* Hiding the taxonomy term display */
.field.field-name-field-section.field-type-taxonomy-term-reference.field-label-above {
    display: none;
    }






@media (max-width: 1090px) {
  .section-image-push {
    margin-top: 65%;
  }
  .section-btn-postion {
      display: none;
      }
}

@media (max-width: 768px) {
.section-title,
.section-tagline,
.section-btn-postion {
    display: none;
    }
.view-lam-square-updates .views-field-field-article-tagline,
.view-lam-square-updates .views-field-field-event-tagline {
    display: none;
    }

.copyright{
  float: left;
  text-align: center;
}
.social-icons{
  float: left;
  width: 200px;
  margin: auto;
  text-align: center;
}

.more_updates {
  height: 155px;
  padding: 25px;
  font-size: 20px;
  font-weight: bold;
}
.para-update{
  font-size: 14px;
  font-weight: 100;
}

/* VIEWS
___________________________*/
.view-lam-square-updates .views-row {
    width: 100%;
    min-height: 85px;
    }

/* TITLE */
.view-lam-square-updates .views-field-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 10px 5px 12px 25px;
    font-family: 'Merriweather', serif;
    }

/* DATE */
.view-lam-square-updates .views-field-field-article-date {
    position: absolute;
    bottom: 48px;
    left: 22px;
    background: rgba(0,0,0, 0.8);
    padding: 2px 6px;
    border-radius: 5px;
    color: gray;
    font-size: 12px;
    }

}
